html {
    font-size: 14px;
    --color-fire-orange: #F57C00;
    --color-dark-charcoal: #1C1C1C;
    --color-light-gray: #E8E8E8;
    --color-metallic-gray: #B0B0B0;
    --color-soft-black: #2A2A2A;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem var(--color-fire-orange);
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: var(--color-light-gray);
    color: var(--color-fire-orange);
}


/*BILDKLASSER*/
.image-gallery img {
    transition: opacity 2s ease-in-out;
    opacity: 1;
}

.gallery-image {
    width: 220px;
    height: 140px;
    object-fit: cover;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.image-bordered {
    display: block;
    width: 80vw; 
    max-width: 600px;
    height: auto; 
    margin: 20px auto;
    border: 2px solid var(--color-fire-orange);
    border-radius: 8px;
    padding: 4px;
    background-color: white;
}


/*KNAPPKLASSER*/
.prev-btn {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background: rgba(0,0,0,0.5);
    color: white;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.next-btn {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    background: rgba(0,0,0,0.5);
    color: white;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.custom-btn {
    background-color: var(--color-fire-orange); /* eller valfri färgkod */
    color: white;
    border: none;
}

    .custom-btn:hover {
        background-color: #e56e00; /* lite mörkare nyans på hover */
        color: white;
    }


